{{ header }}
        </div>
      </div>
              <div class="breadcrumb_box">
          <h1 class="h1_title">
                          Возврат товара                      </h1>
        </div>
                
<!-- end header tpl--><div class="text">
  <div>
    <h3>Возврат лакокрасочной продукции</h3>
    <div>
      <p style="text-align: center">
         ЗАКОН РФ от 07.02.1992 N 2300-1 (ред. от 23.07.2008, с изм. от 03.06.2009) "О ЗАЩИТЕ ПРАВ ПОТРЕБИТЕЛЕЙ"
      </p>
      <p style="text-align: center">
         Статья 25. Право потребителя на обмен товара надлежащего качества
      </p>
      <p style="text-align: center">
         &nbsp;
      </p>
      <p style="text-align: justify">
         &nbsp; &nbsp;1. Потребитель вправе обменять непродовольственный товар надлежащего качества на аналогичный товар у продавца, у которого этот товар был приобретен, если указанный товар не подошел по форме, габаритам, фасону, расцветке, размеру или комплектации. (в ред. Федерального закона от 17.12.1999 N 212-ФЗ) Потребитель имеет право на обмен непродовольственного товара надлежащего качества в течение четырнадцати дней, не считая дня его покупки. Обмен непродовольственного товара надлежащего качества проводится, если указанный товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а также имеется товарный чек или кассовый чек либо иной подтверждающий оплату указанного товара документ. Отсутствие у потребителя товарного чека или кассового чека либо иного подтверждающего оплату товара документа не лишает его возможности ссылаться на свидетельские показания. (в ред. Федерального закона от 21.12.2004 N 171-ФЗ) Перечень товаров, не подлежащих обмену по основаниям, указанным в настоящей статье, утверждается Правительством Российской Федерации.&nbsp;
      </p>
      <p style="text-align: justify">
         &nbsp; &nbsp;2. В случае, если аналогичный товар отсутствует в продаже на день обращения потребителя к продавцу, потребитель вправе отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за указанный товар денежной суммы. Требование потребителя о возврате уплаченной за указанный товар денежной суммы подлежит удовлетворению в течение трех дней со дня возврата указанного товара. По соглашению потребителя с продавцом обмен товара может быть предусмотрен при поступлении аналогичного товара в продажу. Продавец обязан незамедлительно сообщить потребителю о поступлении аналогичного товара в продажу. (п. 2 в ред. Федерального закона от 21.12.2004 N 171-ФЗ)
      </p>
      <p style="text-align: justify">
         &nbsp;
      </p>
      <p style="text-align: center">
         Утвержден Постановлением Правительства Российской Федерации от 19 января 1998 г. N 55
      </p>
      <p style="text-align: center">
         ПЕРЕЧЕНЬ НЕПРОДОВОЛЬСТВЕННЫХ <span style="color:#0000ff;"> </span>
        ТОВАРОВ НАДЛЕЖАЩЕГО КАЧЕСТВА, НЕ ПОДЛЕЖАЩИХ ВОЗВРАТУ ИЛИ ОБМЕНУ НА АНАЛОГИЧНЫЙ ТОВАР ДРУГИХ РАЗМЕРА, ФОРМЫ, ГАБАРИТА, ФАСОНА, РАСЦВЕТКИ ИЛИ КОМПЛЕКТАЦИИ
      </p>
      <p style="text-align: center">
         (в ред. Постановлений Правительства РФ от 20.10.1998 N 1222, от 06.02.2002 N 81)
      </p>
      <p>
         ...
      </p>
      <p>
         4. строительные и отделочные материалы (линолеум, пленка, ковровые покрытия и другие) и другие товары, отпускаемые на метраж.
      </p>
      <p>
         ...
      </p>
      <p>
         7. Товары бытовой химии, пестициды и агрохимикаты
      </p>
      <p>
         &nbsp;
      </p>
      <p style="text-align: center">
         Общероссийский классификатор продукции ОК 005-93 (ОКП) (утв. постановлением Госстандарта РФ от 30 декабря 1993 г. N 301) (в ред. изменений NN 1 - 31)
      </p>
      <p>
         (с изм. и доп. NN 32/2000, 33/2000, 34/2000, 35/2001, 36/2001, 37/2001, 38/2001, 39/2001, 40/2001, 41/2001, 42/2001, 43/2001, 44/2002, 45/2002, 46/2002, 47/2002, 48/2002, 49/2002, 50/2002, 51/2002, 52/2002, 53/2003, 54/2003, 55/2003, 56/2003, 57/2003, 58/2003, 59/2003, 60/2003, 61/2003, 62/2003, 63/2003, 64/2003, 65/2004, 66/2004, 67/2004, 68/2004, 69/2004, 70/2004, 71/2004, 72/2004, 73/2005, 74/2007)
      </p>
      <p>
         &nbsp;
      </p>
      <p>
         23 8000 3 Товары бытовой химии
      </p>
      <p>
         23 8510 2 Средства клеящие
      </p>
      <p>
         23 8650 4 Средства для предохранения различных материалов от загнивания - антисептики
      </p>
      <p>
         23 8800 9 Материалы лакокрасочные
      </p>
      <p>
         23 8810 3 Лаки, эмали, грунтовки и шпатлевки на конденсационных смолах
      </p>
      <p>
         23 8820 8 Лаки и эмали на эфирах целлюлозы
      </p>
      <p>
         23 8830 2 Лаки и политуры спиртовые
      </p>
      <p>
         23 8840 7 Краски водно-дисперсионные
      </p>
      <p>
         23 8850 1 Краски масляные (краски и белила масляные тертые)
      </p>
      <p>
         23 8860 6 Лаки, эмали, грунтовки и шпатлевки на полимеризационных смолах
      </p>
      <p>
         23 8870 0 Олифы
      </p>
      <p>
         23 8880 5 Краски художественные
      </p>
      <p>
         23 8890 4 Растворители, разбавители, смывки и прочие материалы
      </p>
      <p>
         23 8900 2 Товары бытовой химии прочие
      </p>
      <p>
         23 8910 7 Краски для бытового крашения тканей, текстильных и трикотажных изделий
      </p>
      <p>
         23 8950 5 Масла смазочные бытовые и смазки
      </p>
      <p>
         23 8990 3 Препараты различного назначения прочие
      </p>
      <p>
         23 8300 0 Средства для очистки и полировки
      </p>
      <p>
         23 8310 5 Средства пятновыводные
      </p>
      <p>
         23 8320 2 Средства чистящие
      </p>
      <p>
         23 8330 4 Средства полирующие
      </p>
      <p>
         23 8510 2 Средства клеящие
      </p>
      <p>
         23 8600 1 Средства против бытовых насекомых, грызунов, для дезинфекции и антисептики
      </p>
      <p>
         23 8610 6 Средства для борьбы с бытовыми насекомыми - инсектициды
      </p>
      <p>
         23 8620 0 Средства для отпугивания насекомых - репелленты
      </p>
      <p>
         23 8630 5 Средства для борьбы с домашними грызунами - зооциды
      </p>
      <p>
         23 8640 1 Средства дезинфицирующие
      </p>
      <p>
         23 8650 4 Средства для предохранения различных материалов от загнивания - антисептики
      </p>
      <p>
         23 8690 2 Средства для борьбы с бытовыми насекомыми прочие
      </p>
      <p>
         &nbsp;
      </p>
    </div>
  </div>
</div>

  
{{ footer }} 